
    <div class="header-mid">
       <div class="container custom-conatiner">
           <div class="heade-mid-inner">
               <div class="row align-items-center">
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                       <div class="header__info">
                           <div class="logo">
                               <a href="index.php" class="logo-image"><img src="assets/img/logo/logo1.svg" alt="logo"></a>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                       <div class="header__search">
                           <form action="#">
                               <div class="header__search-box">
                                   <input class="search-input search-input-2" type="text" placeholder="I'm shopping for...">
                                   <button class="button button-2" type="submit"><i class="far fa-search"></i></button>
                               </div>
                               <div class="header__search-cat">
                                   <select>
                                       <option>All Categories</option>
                                       <option>Best Seller Products</option>
                                       <option>Top 10 Offers</option>
                                       <option>New Arrivals</option>
                                       <option>Phones &amp; Tablets</option>
                                       <option>Electronics &amp; Digital</option>
                                       <option>Fashion &amp; Clothings</option>
                                       <option>Jewelry &amp; Watches</option>
                                       <option>Health &amp; Beauty</option>
                                       <option>Sound &amp; Speakers</option>
                                       <option>TV &amp; Audio</option>
                                       <option>Computers</option>
                                   </select>
                               </div>
                           </form>
                       </div>
                   </div>
                   <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
                       <div class="header-action">
                           <div class="block-userlink actived">
                               <a class="icon-link icon-link-2" href="my-account.php">
                               <i class="flaticon-user"></i>
                               <span class="text">
                               <span class="sub">Login </span>
                               My Account </span>
                               </a>
                           </div>
                           <div class="profile block-userlink ">
                               <a class="icon-link icon-link-2" href="my-account-page.php">
                                   <div class="roundeddiv">

                                       <img src="assets/img/author/author-sm-1.jpg" class="rounded">
                                   </div>
                                   <span class="text">
                                   <span class="sub">My </span>
                                   Account </span>
                               </a>
                           </div>
                           <div class="block-wishlist action">
                               <a class="icon-link icon-link-2" href="wishlist.php">
                               <i class="flaticon-heart"></i>
                               <span class="count count-2">0</span>
                               <span class="text">
                               <span class="sub">Favorite</span>
                               My Wishlist </span>
                               </a>
                           </div>
                           <div class="block-cart action">
                               <a class="icon-link icon-link-2" href="cart.php">
                               <i class="flaticon-shopping-bag"></i>
                               <span class="count count-2">1</span>
                               <span class="text">
                               <span class="sub">Your Cart:</span>
                               $00.00 </span>
                               </a>
                               <div class="cart">
                                   <div class="cart__mini">
                                       <ul>
                                           <li>
                                             <div class="cart__title">
                                               <h4>Your Cart</h4>
                                               <span>(1 Item in Cart)</span>
                                             </div>
                                           </li>
                                           <li>
                                             <div class="cart__item d-flex justify-content-between align-items-center">
                                               <div class="cart__inner d-flex">
                                                 <div class="cart__thumb">
                                                   <a href="product-details.php">
                                                     <img src="assets/img/cart/20.jpg" alt="">
                                                   </a>
                                                 </div>
                                                 <div class="cart__details">
                                                   <h6><a href="product-details.php"> Samsung C49J89: £875, Debenhams Plus  </a></h6>
                                                   <div class="cart__price">
                                                     <span>$255.00</span>
                                                   </div>
                                                 </div>
                                               </div>
                                               <div class="cart__del">
                                                   <a href="#"><i class="fal fa-times"></i></a>
                                               </div>
                                             </div>
                                           </li>
                                           <li>
                                             <div class="cart__sub d-flex justify-content-between align-items-center">
                                               <h6>Subtotal</h6>
                                               <span class="cart__sub-total">$255.00</span>
                                             </div>
                                           </li>
                                           <li>
                                               <a href="cart.php" class="wc-cart mb-10">View cart</a>
                                               <a href="checkout.php" class="wc-checkout">Checkout</a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
